.container .contact__container{
    width: 100%;
    
}
.contact__container form{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1.2rem;
   
}
 input, textarea{
    width: 50%;
    padding: 1.5rem;
    border-radius: 0.5rem ;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
    font-size: 13px;
 }
 .contact__container button{
    margin-top: 3rem;
    color: black;
    font-weight: 500;
    font-size: 14px;
 }


 /*======================media Query=================*/
@media screen and (max-width:1024px){
    input, textarea{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    input, textarea{
        width:90%;
    }   
}