.skill__container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}
.skill__container >  div{
    background: var(--color-bg-variant);
    padding: 2.5rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.skill__container > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}
.skill__container >  div h3{
    text-align: center;
    color: var(--color-primary);
    margin-bottom: 3rem;
}

.skill__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.skill__details{
    display: flex;
    gap: 1rem;
}

.skill__details-icon{
    margin-top: 6px;
    color: var(--color-primary);
}

@media screen and (max-width:1024px){
    .skill__container{
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .skill__container > div{
        width: 80%;
        margin: 0 auto;
    }
    .skill__content {
       padding: 1rem;
    }
}

@media screen and (max-width:600px){
    .skill__container{
        gap: 1.5rem;
    }
    .skill__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
   

    
}